# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
demo/data/ADFA-LD/
demo/data/adfa-ld/
demo/models/*.pkl
*.log
benchmark_report.json

# Build
build/
*.o
*.bpf.o
include/vmlinux.h
include/main.skel.h

# Node
node_modules/
frontend/dist/

# Go
backend/vendor/

# OS
.DS_Store
Thumbs.db
